@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --bg-gray: #e8e8e8;
    --color-primary: #4d41c0;
    --white: #fff;
    --text-light-gray: #aaaaaa;
    --star-ylleow: #ffbb3a;
}

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;  

}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    
}

html, body, main {
    background-color: var(--bg-gray);
}

header{
    display: flex;
    align-items: center;
    background-color: var(--color-primary) ;
    color: var(--white);
    height: 60px;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav h1{
    font-size: 24px;
    font-weight:700;
}

nav a{
    font-size: 12px;
    font-weight: 400;
}

nav a, nav a:hover{
    text-decoration: none;
    color: unset;
}

.dsmovie-contat-container{
    display: flex;
    align-items: center;
    
}

/* main */

.dsmovie-contat-container img{
    margin-right: 10px;
    
}

#dsmovie-card-list{
    padding: 40px 0;
    
}

.dsmovie-card {
    width: 100%;
    
    
}

.dsmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    /* margin-bottom: 10px; */
}

.dsmovie-card-description {
    background-color: var(--white);
    padding:10px 20 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    height: 200px;
}

.dsmovie-card-description h3{
    font-size: 14px;
    font-weight: 700;
    text-align: center;   
    margin-top: 15px;
    /* line-height: 1; */
    /* margin-bottom: 20px; */
    
}

/* Avaliações */

.dsmovie-card-description-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmovie-card-description-bottom h4{
    font-size: 16px;
    font-weight: 700;
    color: var(--star-ylleow);
}

.dsmovie-card-description-bottom p{
    font-size: 12px;
    font-weight: 700;
    color: var(--text-light-gray);
    margin-bottom: 10px;
}

.dsmovie-card-description-bottom img{
    width: 22px;
}


.dsmovie-btn, .dsmovie-btn:hover{
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size:14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius:4px ;
    margin-bottom: 10px;
    border: 0;
}





/* Form */
.dsmovie-form-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    max-width: 480px;   
    
    
}

.dsmovie-form-description{
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    border-radius: 0 0 10px 10px;
   
    width: 100%;
}

.dsmovie-card{
    
    box-shadow: 4px 10px 17px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 10px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 10px 17px -7px rgba(0,0,0,0.75);
}

.dsmovie-form-description h3{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}

.dsmovie-form-group{
    margin-bottom:20px;
}

.dsmovie-form-group label{
    font-size: 12px;
    color: var(--text-light-gray);
}

.dsmovie-btn-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}